* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    padding: 1rem 3rem;
}

.header {
    color: #FFFFFF;
    background-color: rgb(8, 61, 119);
    width: 100%;
    padding: 3rem;
    border-bottom: .25rem solid #90DDF0;
}

.p-margin {
    margin: .5rem 0;
}
.adopt {
    margin: 1rem 0;
}

.dog-profiles {
    display: flex;
    flex-wrap: wrap;
}

.dog-name {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
}

.dog-box {
    width: 450px;
    margin: 10px 10px 10px 0;
}

.dog-details li {
    background-color: #90DDF0;
    list-style: none;
    display: inline-flex;
    font-size: .9rem;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 15px;
}

.footer {
    font-family: "Oswald", sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-wrap:  wrap;
}

.footer a {
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    background-repeat: no-repeat;
}



.donate {
    background-image: 
    linear-gradient(rgba(130, 94, 231, 0.5),rgba(130, 94, 231, 0.5)),
    url(../starter_files/images/donate.jpg);
    /* width: 33.3333%; */
    flex: 1 1 33%;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteer {
    background-image: 
    linear-gradient(rgba(130, 94, 231, 0.5),rgba(130, 94, 231, 0.5)),
    url(../starter_files/images/volunteer.jpg);
    /* width: 33.3333%; */
    flex: 1 1 33%;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    background-image:
    linear-gradient(rgba(130, 94, 231, 0.5),rgba(130, 94, 231, 0.5)),
    url(../starter_files/images/location.png);
    /* width: 33.3333%; */
    flex: 1 1 33%;

    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}